
GTFS Wiki: http://wiki.corp.nextbus.com/nextbuswiki/GtfsChecks (need to be on NexBus VPN) 

GTFS Goolge Guideline: https://developers.google.com/transit/gtfs/reference/

# <span style="color:red">Import the needed packages</span>

In [1]:
import pandas as pd
import numpy as np
#import pixiedust as pix # will look into the capabilites of this library

### <span style="color:green">Add the location of your GTFS data</span>

In [2]:
# for windows
# filepath = r"\\cts-con-fld-001\users$\207329\My Documents\qa\vacaville\vacavillecitycoach-ca-us_20181015"

# for linux
filepath = r"/mnt/shared/qa/foothill"

# filepath2 = r"/mnt/shared/qa/seattle-sc/Seattle-sc-ALL_20181126_google_daily_transit"



'''Some functions to make life eaiser
Note if you are using Windows, you'll need to modify the "/" '''




# load file and show top 5 records
def load(fName): 
    f = filepath + "/" + "{}.txt".format(fName)
    global df
    df = pd.read_csv(f)
    return df.info()

# load second file for comparision
def load2(fName): 
    f = filepath2 + "/" + "{}.txt".format(fName)
    global df2
    df2 = pd.read_csv(f)
    return df2.info()

import csv
# short save file
def save(dfName,fName):
    df = dfName
    df.to_csv(filepath + '//' + "{}".format(fName), sep =',', index=False)#, quoting=csv.QUOTE_NONNUMERIC)
    return print("Saved {} to {}".format(fName,filepath))

# short find null
def null(fName):
    return df[(fName).isnull()]

# drop field (field name, file name)
def drop(fName,fileName):
    df.drop(fName, 1, inplace=True)
    df.to_csv(filepath + '//' + '{}_FIXED.txt'.format(fileName), sep =',', index=False)
    return print("Dropped {} field.\n\
Saved '{}_FIXED.txt' to file folder.".format(fName,fileName))

# drop dups in blocks.txt for CNB 
def dups():
    #df[df.block_id.duplicated()]
    df1 = df.drop_duplicates(subset = 'block_id', keep='last').reset_index(drop=True)
    return df1.info()
    
# sort sequence for stop_times.txt file
def sort():
    df.sort_values(['trip_id', 'stop_sequence'])
    return df.head(15)

# shape less than certain amount of points for shapes
def lessthan(x):
    df1 = df.groupby(['shape_id']).count()
    return df1[(df1.shape_pt_lat < x)]

# function to move copy stop_code to stop_id in the stops.txt file
def copyField(newField,origField,fileName):
    df[newField] = df[origField]
    df.to_csv(filepath + '//' + '{}_FIXED.txt'.format(fileName), sep =',', index=False)
    return print("Copied the '{}' field to the '{}' field.\n\
Saved '{}_FIXED.txt' to file folder.".format(origField,newField,fileName))




### work for CNB shape issues
# def shapeFix(indx1,indx2,shapeName):
#     x1 = int(indx1)
#     x2 = int(indx2)
#     global df
#     df = df.drop(df.index[x1:x2]) # drop double shape pnts 
#     df = df[(df.shape_id == '{}'.format(shapeName))] # create new df of just shape pnts
#     df['shape_pt_sequence'] = range(1,1 + len(df)) # re-sequence shape pnts
#     df_cut = df # give unique name to subset of shape pnts

#     # load orig data, drop all of courthou1, append 
#     load('shapes') # load orig df
#     df = df[df.shape_id != '{}'.format(shapeName)] # drop all cases of shape 
#     global df_all
#     df_all = df.append(df_cut,ignore_index=True) # create new df and append df_cut
#     return  print('use df_all')

## Random Work-flows

In [ ]:
## fill na with number, query and output file  
df['block_id'].fillna(999999, inplace=True)
df1 = df[(df.block_id == 999999)]
df['block_id'].unique()
save(df1,'trips_missingBlocks.txt')

# compare two files
# set the field to a list
oldTrips = df2['trip_id'].unique().tolist()
newTrips = df['trip_id'].unique().tolist()

oldBlocks = df2['block_id'].unique().tolist()
newBlocks = df['block_id'].unique().tolist()

# use set and difference to compare the two list
set(oldTrips).difference(newTrips)

set(newBlocks).difference(oldBlocks)

# can alsow use this logic... but the above works just fine
if (40803723 in newTrips):
    print ("Exist")
else:
    print("Nope")

##### seattle-sc 'like' function 
df=df.loc[df['route_id'].isin([100340,102638])]
df
save(df,'trips')
df['service_id'].unique()
df2=df2.loc[df2['route_id'].isin([100340,102638])]

#### create new column based on conditions of other columns
df['timeCheck'] = np.where(df['arrival_time']==df['departure_time'],'yes','no')
df1 = df[(df.timeCheck=='no')]
df['timeCheck'].unique()

# syntax for leading zeros (4 for example)
df['stop_id']= df['stop_id'].apply(lambda x: '{0:0>4}'.format(x))

# <span style="color:red">agency.txt</span>

In [3]:
load('agency')
df.head(25)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 5 columns):
agency_name        1 non-null object
agency_url         1 non-null object
agency_timezone    1 non-null object
agency_lang        0 non-null float64
agency_phone       1 non-null object
dtypes: float64(1), object(4)
memory usage: 120.0+ bytes

,agency_name,agency_url,agency_timezone,agency_lang,agency_phone
0,Foothill Transit,http://www.foothilltransit.org,America/Los_Angeles,NaN,800-RIDE-INFO

# <span style="color:red">routes.txt</span>

### Required Fields: 
1. route_id- These are the routes that are shown to the public. Route ID's cannot have leading zeros, asterisks, underscore, dashes and perhaps other characters. 
2. route_type- numberic value with specific meanings:
    * 0 Tram, Streetcar, Light rail
    * 1 Subway, Metro
    * 2 Rail
    * 3 Bus
    * 4 Ferry
    * 5 Cable Car

In [4]:
# just use the funtion 'load()' to load the .txt file and see the first 5 lines ex: loadfile('routes')
load('routes')
df.head(100)
#copyField('route_short_name','route_id','routes')
# dfEOS = df[(df.agency_id == 'EOS')]
# save(dfEOS,'routes')

#### seattle-sc 'like' function
#df = df.loc[df['agency_id']=='EOS']
# df1['route_long_name'] = df1['route_short_name']
# df = df1
# save('routes_NEW.txt')
#df[(df.route_id==100249)]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 8 columns):
route_id            39 non-null object
route_short_name    39 non-null object
route_long_name     39 non-null object
route_desc          0 non-null float64
route_type          39 non-null int64
route_url           39 non-null object
route_color         2 non-null object
route_text_color    0 non-null float64
dtypes: float64(2), int64(1), object(5)
memory usage: 2.5+ KB

,route_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color
0,178-152,178,Puente Hills Mall - El Monte Station,NaN,2,http://foothilltransit.org/line/178/,NaN,NaN
1,185-152,185,Azusa - West Covina - Hacienda Heights,NaN,2,http://foothilltransit.org/line/185/,NaN,NaN
2,187-152,187,Pasadena - Azusa,NaN,2,http://foothilltransit.org/line/187/,NaN,NaN
3,188-152,188,Azusa - Montclair,NaN,2,http://foothilltransit.org/line/188/,NaN,NaN
4,190-152,190,El Monte Station - Cal Poly via Ramona,NaN,3,http://foothilltransit.org/line/190/,NaN,NaN
5,194-152,194,El Monte Station - Cal Poly via Valley,NaN,3,http://foothilltransit.org/line/194/,NaN,NaN
6,195-150,195,Pomona Transcenter- Phillips Ranch- Cal Poly,NaN,2,http://foothilltransit.org/line/195/,NaN,NaN
7,197-150,197,Montclair Transcenter - Pomona Transcenter,NaN,2,http://foothilltransit.org/line/197/,NaN,NaN
8,269-152,269,Montebello Town Center - El Monte Station,NaN,2,http://foothilltransit.org/line/269/,NaN,NaN
9,270-152,270,Monrovia - El Monte Station,NaN,3,http://foothilltransit.org/line/270/,NaN,NaN
10,272-152,272,Duarte-Baldwin Park-West Covina,NaN,3,http://foothilltransit.org/line/272/,NaN,NaN
11,274-152,274,West Covina - Industry - Whittier,NaN,2,http://foothilltransit.org/line/274/,NaN,NaN
12,280-152,280,Azusa-Puente Hills Mall via Azusa Ave.,NaN,2,http://foothilltransit.org/line/280/,NaN,NaN
13,281-152,281,Puente Hills Mall-Glendora,NaN,2,http://foothilltransit.org/line/281/,NaN,NaN
14,282-150,282,Puente Hills Mall - El Monte Station,NaN,3,http://foothilltransit.org/line/282/,NaN,NaN
15,284-152,284,West Covina - Glendora,NaN,3,http://foothilltransit.org/line/284/,NaN,NaN
16,285-150,285,Puente Hills Mall - Beach and La Habra,NaN,3,http://foothilltransit.org/line/285/,NaN,NaN
17,286-150,286,Pomona - Brea Mall Transit Center,NaN,3,http://foothilltransit.org/line/286/,NaN,NaN
18,289-150,289,Puente Hills Mall - Cal Poly,NaN,2,http://foothilltransit.org/line/289/,NaN,NaN
19,291-150,291,La Verne - Pomona,NaN,2,http://foothilltransit.org/line/291/,NaN,NaN
20,292-150,292,Claremont - Pomona,NaN,3,http://foothilltransit.org/line/292/,NaN,NaN
21,480-152,480,Montclair - Pomona - West Covina,NaN,3,http://foothilltransit.org/line/480/,NaN,NaN
22,482-150,482,Pomona Trancenter - Puente Hills Mall,NaN,3,http://foothilltransit.org/line/482/,NaN,NaN
23,486-150,486,Cal Poly - El Monte Station,NaN,2,http://foothilltransit.org/line/486/,NaN,NaN
24,488-150,488,Glendora-West Covina- El Monte Station,NaN,2,http://foothilltransit.org/line/488/,NaN,NaN
25,492-150,492,El Monte Station- Montclair,NaN,3,http://foothilltransit.org/line/492/,NaN,NaN
26,493-152,493,Express Industry Park & Ride - D.T.L.A. via PHM,NaN,2,http://foothilltransit.org/line/493/,NaN,NaN
27,495-150,495,Express Industry Park & Ride - Los Angeles,NaN,3,http://foothilltransit.org/line/495/,NaN,NaN
28,497-150,497,Express Chino Park & Ride - Downtown L.A,NaN,2,http://foothilltransit.org/line/497/,NaN,NaN
29,498-152,498,Express Glendora - West Covina - Downtown L.A.,NaN,2,http://foothilltransit.org/line/498/,NaN,NaN
30,499-150,499,Express San Dimas Park& Ride-Downtown L.A.,NaN,2,http://foothilltransit.org/line/499/,NaN,NaN
31,690-152,690,Montclair - Glendora,NaN,3,http://foothilltransit.org/line/690/,NaN,NaN
32,699-150,699,Express Montclair TransCenter-Downtown L.A.,NaN,2,http://foothilltransit.org/line/699/,NaN,NaN
33,707-152,Silver Streak,Montclair-Pomona- El Monte- L.A.,NaN,2,http://foothilltransit.org/line/silverstreak/,NaN,NaN
34,851-152,851,West Covina - Covina- Glendora,NaN,3,http://foothilltransit.org/line/851/,NaN,NaN
35,853-150,853,Diamond Bar- Diamond Ranch,NaN,3,http://foothilltransit.org/line/853/,NaN,NaN
36,854-150,854,Diamond Bar- Diamond Ranch,NaN,3,http://foothilltransit.org/line/854/,NaN,NaN
37,860-152,860,Duarte Blue,NaN,2,http://foothilltransit.org/line/860-blue/,0000FF,NaN
38,861-152,861,Duarte Green,NaN,2,http://foothilltransit.org/line/861-green/,808080,NaN

# <span style="color:red">trips.txt</span>

### Required Fields:
1. route_id- Check to see if there are trips for every route. 
2. service_id- Check to see if the value of this field comes from the calendar.txt file. (below)
3. trip_id
4. direction_id- Can either be 1 or 0. Can omit if all routes are in one direction. 
5. block_id- GTFS list this as optional, NextBus requires it. Make sure there are no missig values. 
6. shape_id- GTFS list this as optional, NextBus requires it. This field links with the shapes.txt file.(below)

In [26]:
load('trips')
df.block_id.unique().tolist()
# dffoo = df[(df.block_id == 5254117)]
# dffoo.head()

## dups work
#df[df.block_id.duplicated()]
#df1 = df.drop_duplicates(subset = 'block_id', keep='last').reset_index(drop=True)
#102638

# df1 = df[(df.route_id == '860-150') | (df.route_id == '861-150')]
# df1 = df[(df.trip_headsign == 'Not In Service')]
# df1
# save(df1,'foothill_trips_notInService.txt')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4579 entries, 0 to 4578
Data columns (total 7 columns):
route_id         4579 non-null object
service_id       4579 non-null object
trip_id          4579 non-null object
trip_headsign    4579 non-null object
direction_id     4579 non-null int64
block_id         4579 non-null int64
shape_id         4579 non-null int64
dtypes: int64(3), object(4)
memory usage: 250.5+ KB

[817516,
 817584,
 817540,
 817781,
 817517,
 817515,
 817557,
 817549,
 817592,
 817533,
 817668,
 817548,
 817602,
 817522,
 817519,
 817525,
 817532,
 817598,
 817576,
 817634,
 817696,
 817687,
 817545,
 817684,
 817560,
 817766,
 817776,
 817529,
 817626,
 817520,
 817783,
 817685,
 817485,
 817581,
 817625,
 817662,
 817779,
 817765,
 817482,
 817541,
 817681,
 817531,
 817606,
 817623,
 817772,
 817534,
 817556,
 817760,
 817650,
 817622,
 817679,
 817619,
 817586,
 817659,
 817587,
 817543,
 817651,
 817618,
 817688,
 817674,
 817672,
 817572,
 817537,
 817597,
 817629,
 817640,
 817694,
 817631,
 817657,
 817514,
 817538,
 817671,
 817670,
 817658,
 817559,
 817680,
 817501,
 817906,
 817931,
 817481,
 817511,
 817908,
 817932,
 817699,
 817648,
 817579,
 817624,
 817933,
 817892,
 817605,
 817612,
 817583,
 817570,
 817512,
 817571,
 817585,
 817550,
 817635,
 817874,
 817582,
 817880,
 817860,
 817655,
 817759,
 817601,
 817836,
 817868,
 817758,
 817678,
 817878,
 817691,
 817857,
 817861,
 817842,
 817575,
 817539,
 817881,
 817884,
 817887,
 817846,
 817876,
 817838,
 817536,
 817872,
 817673,
 817588,
 817609,
 817865,
 817866,
 817870,
 817632,
 817690,
 817607,
 817535,
 817547,
 817764,
 817697,
 817883,
 817886,
 817903,
 817667,
 817695,
 817909,
 817885,
 817620,
 817867,
 817841,
 817873,
 817627,
 817663,
 817477,
 817562,
 817761,
 817930,
 817854,
 817879,
 817554,
 817478,
 817649,
 817573,
 817875,
 817596,
 817775,
 817773,
 817654,
 817643,
 817615,
 817938,
 817863,
 817737,
 817647,
 817567,
 817610,
 817580,
 817639,
 817912,
 817936,
 817837,
 817843,
 817546,
 817770,
 817844,
 817847,
 817850,
 817621,
 817633,
 817839,
 817641,
 817656,
 817882,
 817527,
 817524,
 817677,
 817853,
 817669,
 817840,
 817845,
 817636,
 817855,
 817858,
 817476,
 817564,
 817608,
 817638,
 817566,
 817692,
 817869,
 817849,
 817852,
 817856,
 817859,
 817552,
 817595,
 817544,
 817507,
 817689,
 817604,
 817871,
 817877,
 817948,
 817848,
 817851,
 817665,
 817574,
 817577,
 817513,
 817762,
 817862,
 817518,
 817788,
 817553,
 817528,
 817578,
 817479,
 817565,
 817561,
 817683,
 817701,
 817613,
 817558,
 817508,
 817480,
 817769,
 817593,
 817484,
 817768,
 817784,
 817778,
 817763,
 817614,
 817786,
 817666,
 817771,
 817777,
 817693,
 817646,
 817653,
 817642,
 817661,
 817569,
 817563,
 817780,
 817590,
 817660,
 817617,
 817483,
 817785,
 817505,
 817474,
 817542,
 817475,
 817523,
 817589,
 817530,
 817644,
 817591,
 817628,
 817698,
 817675,
 817526,
 817676,
 817500,
 817686,
 817555,
 817594,
 817473,
 817889,
 817935,
 817652,
 817900,
 817551,
 817934,
 817905,
 817902,
 817568,
 817891,
 817904,
 817911,
 817901,
 817890,
 817910,
 817894,
 817907,
 817929,
 817893,
 817600,
 817504,
 817664,
 817599,
 817726,
 817731,
 817521,
 817864,
 817782,
 817603,
 817774,
 817494,
 817495,
 817498,
 817616,
 817497,
 817492,
 817630,
 817487,
 817488,
 817787,
 817490,
 817611,
 817499,
 817491,
 817637,
 817493,
 817486,
 817496,
 817767,
 817489,
 817509,
 817742,
 817725,
 817746,
 817752,
 817682,
 817733,
 817732,
 817729,
 817723,
 817750,
 817730,
 817735,
 817755,
 817510,
 817700,
 817756,
 817757,
 817740,
 817506,
 817753,
 817744,
 817645,
 817503,
 817722,
 817724,
 817502,
 817736,
 817748,
 817471,
 817739,
 817751,
 817745,
 817743,
 817741,
 817738,
 817472,
 817747,
 817749,
 817727,
 817470,
 817754,
 817734,
 817789,
 817728,
 817940,
 817942,
 817945,
 817946,
 817939,
 817943,
 817944,
 817947,
 817941,
 817988,
 818010,
 818045,
 818051,
 818021,
 818025,
 817995,
 818006,
 818019,
 818017,
 817985,
 817999,
 818055,
 817998,
 818013,
 818029,
 818012,
 818036,
 818014,
 818002,
 818001,
 817997,
 817965,
 818031,
 818009,
 818022,
 817992,
 817977,
 818004,
 818016,
 818037,
 818034,
 818049,
 817986,
 818175,
 817993,
 817978,
 818050,
 818039,
 818137,
 818138,
 817975,
 817966,
 818044,
 818030,
 817987,
 818015,
 818038,
 818026,
 818028,
 818056,
 818143,
 818156,
 818157,
 818158,
 818197,
 818033,
 818163,
 817989,
 818054,
 818185,
 818159,
 818187,
 818176,
 818177,
 818165,
 818166,
 818147,
 818148,
 817994,
 818011,
 818170,
 818196,
 818155,
 818152,
 818150,
 818151,
 818153,
 818167,
 818188,
 818186,
 818198,
 818142,
 818032,
 818178,
 818154,
 818168,
 818183,
 818182,
 818144,
 818195,
 817976,
 818145,
 818008,
 818018,
 818169,
 818184,
 818171,
 818173,
 818174,
 818057,
 818189,
 818149,
 818179,
 818180,
 818181,
 818160,
 818161,
 818162,
 817984,
 818192,
 818193,
 818194,
 818048,
 818040,
 818146,
 818172,
 818005,
 817979,
 817983,
 818053,
 818047,
 817980,
 817982,
 818007,
 817996,
 818003,
 818046,
 817981,
 818060,
 818058,
 818020,
 817991,
 818122,
 818125,
 818126,
 818132,
 818133,
 818134,
 818135,
 818136,
 818123,
 818131,
 818023,
 818061,
 818139,
 818140,
 818141,
 818124,
 818127,
 818128,
 818129,
 818130,
 817964,
 818164,
 818190,
 818191,
 818035,
 817967,
 817971,
 818041,
 818059,
 818024,
 817969,
 818042,
 817968,
 817974,
 817973,
 817972,
 818000,
 817970,
 818043,
 818052,
 818027,
 817990,
 818062,
 818063,
 818382,
 818222,
 818402,
 818438,
 818390,
 818409,
 818451,
 818387,
 818400,
 818411,
 818410,
 818393,
 818394,
 818379,
 818406,
 818405,
 818413,
 818418,
 818396,
 818452,
 818389,
 818404,
 818401,
 818415,
 818433,
 818426,
 818414,
 818459,
 818458,
 818385,
 818392,
 818456,
 818247,
 818416,
 818395,
 818378,
 818417,
 818397,
 818457,
 818342,
 818343,
 818423,
 818449,
 818441,
 818445,
 818412,
 818419,
 818432,
 818228,
 818252,
 818254,
 818256,
 818383,
 818236,
 818436,
 818250,
 818447,
 818271,
 818258,
 818268,
 818439,
 818279,
 818249,
 818346,
 818347,
 818264,
 818231,
 818386,
 818422,
 818278,
 818238,
 818272,
 818227,
 818267,
 818348,
 818349,
 818277,
 818259,
 818437,
 818266,
 818233,
 818229,
 818428,
 818248,
 818388,
 818270,
 818273,
 818225,
 818241,
 818230,
 818240,
 818276,
 818380,
 818408,
 818274,
 818275,
 818403,
 818280,
 818237,
 818234,
 818448,
 818257,
 818243,
 818269,
 818261,
 818242,
 818455,
 818260,
 818262,
 818263,
 818446,
 818430,
 818245,
 818244,
 818235,
 818440,
 818460,
 818224,
 818226,
 818431,
 818391,
 818424,
 818381,
 818398,
 818377,
 818399,
 818454,
 818450,
 818407,
 818421,
 818453,
 818435,
 818369,
 818420,
 818384,
 818232,
 818327,
 818333,
 818338,
 818339,
 818340,
 818341,
 818331,
 818239,
 818337,
 818344,
 818345,
 818330,
 818246,
 818334,
 818335,
 818336,
 818332,
 818265,
 818253,
 818251,
 818255,
 818427,
 818425,
 818372,
 818223,
 818370,
 818374,
 818429,
 818371,
 818434,
 818376,
 818375,
 818373,
 818443,
 818442,
 818444,
 815506,
 815457,
 815650,
 815470,
 815688,
 815523,
 815597,
 815601,
 815440,
 815603,
 815487,
 815623,
 815467,
 815622,
 815589,
 815658,
 815639,
 815719,
 815637,
 815645,
 815501,
 815472,
 815679,
 815618,
 815432,
 815627,
 815625,
 815682,
 815631,
 815539,
 815480,
 815677,
 815514,
 815681,
 815488,
 815630,
 815628,
 815476,
 815663,
 815541,
 815600,
 815543,
 815624,
 815469,
 815634,
 815503,
 815525,
 815673,
 815451,
 815516,
 815510,
 815604,
 815524,
 815592,
 815538,
 815562,
 815605,
 815532,
 815513,
 815431,
 815590,
 815565,
 815479,
 815560,
 815559,
 815720,
 815561,
 815568,
 815570,
 815569,
 815571,
 815556,
 815550,
 815511,
 815552,
 815609,
 815611,
 815610,
 815612,
 815613,
 815614,
 815615,
 815616,
 815717,
 815465,
 815648,
 815593,
 815446,
 815429,
 815461,
 815595,
 815636,
 815482,
 815493,
 815497,
 815666,
 815499,
 815602,
 815455,
 815520,
 815646,
 815463,
 815687,
 815690,
 815644,
 815659,
 815535,
 815661,
 815607,
 815528,
 815483,
 815508,
 815656,
 815453,
 815664,
 815635,
 815608,
 815640,
 815460,
 815564,
 815450,
 815660,
 815492,
 815674,
 815662,
 815509,
 815473,
 815657,
 815471,
 815475,
 815519,
 815462,
 815477,
 815686,
 815448,
 815680,
 815715,
 815665,
 815458,
 815566,
 815716,
 815494,
 815536,
 815484,
 815526,
 815438,
 815441,
 815617,
 815466,
 815654,
 815672,
 815534,
 815496,
 815542,
 815540,
 815517,
 815546,
 815481,
 815544,
 815454,
 815548,
 815676,
 815443,
 815678,
 815621,
 815507,
 815464,
 815434,
 815500,
 815445,
 815668,
 815619,
 815594,
 815468,
 815567,
 815452,
 815633,
 815490,
 815537,
 815629,
 815684,
 815694,
 815485,
 815695,
 815675,
 815555,
 815531,
 815651,
 815437,
 815671,
 815430,
 815435,
 815436,
 815591,
 815545,
 815638,
 815486,
 815491,
 815718,
 815495,
 815512,
 815522,
 815527,
 815533,
 815529,
 815553,
 815626,
 815655,
 815641,
 815557,
 815442,
 815474,
 815683,
 815691,
 815478,
 815596,
 815444,
 815598,
 815620,
 815549,
 815439,
 815693,
 815599,
 815504,
 815449,
 815653,
 815459,
 815563,
 815652,
 815433,
 815521,
 815588,
 815498,
 815670,
 815692,
 815515,
 815689,
 815447,
 815685,
 815505,
 815554,
 815558,
 815649,
 815456,
 815647,
 815643,
 815606,
 815547,
 815518,
 815551,
 815669,
 815667,
 815489,
 815642,
 815530,
 815632,
 815502,
 815816,
 815765,
 815731,
 815769,
 ...]

# <span style="color:red">stops.txt</span>

### Required Fields:
1. stop_id 
2. stop_lat- Make sure none are zero, or empty.
3. stop_lon- Make sure none are zero, or empty.
    - make sure lat and long are at least five decimal places (most do six)

In [8]:
load('stops')
df.head(15)

# copyField('stop_code','stop_id','stops')

#### seattle-sc 'like' function
#df_stop = df.loc[df['stop_code'].isin(stopList)]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1964 entries, 0 to 1963
Data columns (total 10 columns):
stop_id           1964 non-null object
stop_code         0 non-null float64
stop_name         1964 non-null object
stop_desc         0 non-null float64
stop_lat          1964 non-null float64
stop_lon          1964 non-null float64
zone_id           0 non-null float64
stop_url          0 non-null float64
location_type     1964 non-null int64
parent_station    8 non-null object
dtypes: float64(6), int64(1), object(3)
memory usage: 153.5+ KB

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,00001,NaN,Temple Ave & Diamond Bar Blvd/ Mission Blvd E,NaN,34.040203,-117.798027,NaN,NaN,0,NaN
1,00002,NaN,Hacienda Blvd and Temple Ave S,NaN,34.030259,-117.954117,NaN,NaN,0,NaN
2,00003,NaN,Hacienda Blvd and Temple Ave N,NaN,34.030307,-117.953758,NaN,NaN,0,NaN
3,00006,NaN,Hacienda Blvd and Nelson Ave S,NaN,34.026069,-117.957811,NaN,NaN,0,NaN
4,00008,NaN,Hacienda Blvd and Nelson Ave N,NaN,34.026215,-117.957569,NaN,NaN,0,NaN
5,00010,NaN,Orange Grove Ave and Glen Ave N,NaN,34.064132,-117.781031,NaN,NaN,0,NaN
6,00012,NaN,Diamond Bar Blvd and Temple Ave N,NaN,34.040352,-117.798222,NaN,NaN,0,NaN
7,00014,NaN,Diamond Bar Blvd and Mountain Laurel Way N,NaN,33.992106,-117.816991,NaN,NaN,0,NaN
8,00015,NaN,Green St and Raymond Ave E,NaN,34.144446,-118.148989,NaN,NaN,0,NaN
9,00016,NaN,Brea Canyon Rd and Lycoming St N,NaN,34.003135,-117.846353,NaN,NaN,0,NaN
10,00017,NaN,Brea Canyon Rd and Lycoming St S,NaN,34.002975,-117.846462,NaN,NaN,0,NaN
11,00018,NaN,Valley Blvd and Durfee Ave,NaN,34.059605,-118.013086,NaN,NaN,0,NaN
12,00019,NaN,Valley Blvd and Durfee Ave,NaN,34.059738,-118.013070,NaN,NaN,0,NaN
13,00020,NaN,Diamond Bar Blvd and Temple Ave S,NaN,34.040456,-117.798403,NaN,NaN,0,NaN
14,00021,NaN,7th Ave and Gale Ave N,NaN,34.020222,-117.987604,NaN,NaN,0,NaN

# <span style="color:red">stop_times.txt</span>

### Required Fields:
1. trip_id
2. arrival_time- Should be blank for non-scheduled stops
3. depature_times- Should be blank for non-scheduled stops
4. stop_id
5. stop_sequence- Some agencies will sort this field incorrectly, putting all the "1s" first.
    - note* watch out for the timepoints field, if there is a 1, then it is an acutal stop. If there are not enough of 1s, this may cause problems. It's okay to delete this field.

In [34]:
load('stop_times') 
time = df.departure_time < '02:00'
df[time]
#drop('timepoint','stop_times')
# df.head(100)
# syntax for leading zeros (4 for example)
# df['stop_id']= df['stop_id'].apply(lambda x: '{0:0>4}'.format(x))
# df.head(100)
# df['timepoint'].unique()

# df[(df.arrival_time!=null) & (df.timepoint==1)]
# df[(df.trip_id == 't_31175_b_718_tn_0')]

# drop('timepoint','stop_times')




#### seattle-sc 'like' function
# df_trip = df.loc[df['trip_id'].isin(tripsList)]
# df_trip.sort_values(['trip_id', 'stop_sequence'])
# stopList = df_trip['stop_id'].unique().tolist()
# save(df_trip,'stop_times_NEW.txt

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187835 entries, 0 to 187834
Data columns (total 9 columns):
trip_id                187835 non-null object
arrival_time           187835 non-null object
departure_time         187835 non-null object
stop_id                187835 non-null int64
stop_sequence          187835 non-null int64
pickup_type            187835 non-null int64
drop_off_type          187835 non-null int64
shape_dist_traveled    187835 non-null float64
timepoint              187835 non-null int64
dtypes: float64(1), int64(5), object(3)
memory usage: 12.9+ MB

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled,timepoint
49282,4804394-1901-FT1905-Weekday-82,01:00:00,01:00:00,2028,1,0,0,0.000,1
49283,4804394-1901-FT1905-Weekday-82,01:13:00,01:13:00,2158,2,0,0,5.570,1
49284,4804394-1901-FT1905-Weekday-82,01:30:37,01:30:37,2647,3,0,0,17.117,0
49285,4804394-1901-FT1905-Weekday-82,01:31:00,01:31:00,2924,4,0,0,17.371,1
49286,4804394-1901-FT1905-Weekday-82,01:32:14,01:32:14,2925,5,0,0,17.989,0
49287,4804394-1901-FT1905-Weekday-82,01:45:00,01:45:00,1171,6,0,0,24.409,1
49288,4804394-1901-FT1905-Weekday-82,01:53:00,01:53:00,897,7,0,0,31.653,1
49289,4804394-1901-FT1905-Weekday-82,01:57:00,01:57:00,2594,8,0,0,34.254,1
49449,4804403-1901-FT1905-Weekday-82,01:10:00,01:10:00,3623,1,0,0,0.000,1
49450,4804403-1901-FT1905-Weekday-82,01:12:12,01:12:12,47,2,0,0,0.335,0
49451,4804403-1901-FT1905-Weekday-82,01:13:17,01:13:17,3624,3,0,0,0.502,0
49452,4804403-1901-FT1905-Weekday-82,01:14:56,01:14:56,2106,4,0,0,0.752,0
49453,4804403-1901-FT1905-Weekday-82,01:16:35,01:16:35,2095,5,0,0,1.005,0
49454,4804403-1901-FT1905-Weekday-82,01:18:51,01:18:51,2094,6,0,0,1.352,0
49455,4804403-1901-FT1905-Weekday-82,01:22:35,01:22:35,3048,7,0,0,1.921,0
49456,4804403-1901-FT1905-Weekday-82,01:24:00,01:24:00,2474,8,0,0,2.137,1
49457,4804403-1901-FT1905-Weekday-82,01:26:50,01:26:50,549,9,0,0,2.490,0
49458,4804403-1901-FT1905-Weekday-82,01:29:00,01:29:00,2591,10,0,0,2.759,1
49459,4804403-1901-FT1905-Weekday-82,01:32:00,01:32:00,2593,11,0,0,4.376,1
49460,4804403-1901-FT1905-Weekday-82,01:36:00,01:36:00,896,12,0,0,6.949,1
49461,4804403-1901-FT1905-Weekday-82,01:47:00,01:47:00,1172,13,0,0,14.230,1
64742,4806670-1901-FT1905-Saturday-82,01:00:00,01:00:00,2028,1,0,0,0.000,1
64743,4806670-1901-FT1905-Saturday-82,01:16:00,01:16:00,2158,2,0,0,5.570,1
64744,4806670-1901-FT1905-Saturday-82,01:35:34,01:35:34,2647,3,0,0,17.117,0
64745,4806670-1901-FT1905-Saturday-82,01:36:00,01:36:00,2924,4,0,0,17.371,1
64746,4806670-1901-FT1905-Saturday-82,01:37:30,01:37:30,2925,5,0,0,17.989,0
64747,4806670-1901-FT1905-Saturday-82,01:53:00,01:53:00,1171,6,0,0,24.409,1
75646,4806934-1901-FT1905-Saturday-82,01:00:00,01:00:00,3623,1,0,0,0.000,1
75647,4806934-1901-FT1905-Saturday-82,01:02:12,01:02:12,47,2,0,0,0.335,0
75648,4806934-1901-FT1905-Saturday-82,01:03:17,01:03:17,3624,3,0,0,0.502,0
...,...,...,...,...,...,...,...,...,...
75654,4806934-1901-FT1905-Saturday-82,01:17:24,01:17:24,549,9,0,0,2.490,0
75655,4806934-1901-FT1905-Saturday-82,01:20:00,01:20:00,2591,10,0,0,2.759,1
75656,4806934-1901-FT1905-Saturday-82,01:23:00,01:23:00,2593,11,0,0,4.376,1
75657,4806934-1901-FT1905-Saturday-82,01:26:00,01:26:00,896,12,0,0,6.949,1
75658,4806934-1901-FT1905-Saturday-82,01:36:00,01:36:00,1172,13,0,0,14.230,1
75659,4806934-1901-FT1905-Saturday-82,01:51:26,01:51:26,2665,14,0,0,20.582,0
75660,4806934-1901-FT1905-Saturday-82,01:53:00,01:53:00,2656,15,0,0,21.228,1
75661,4806934-1901-FT1905-Saturday-82,01:53:32,01:53:32,2646,16,0,0,21.544,0
96860,4808418-1901-FT1905-Sunday-82,01:00:00,01:00:00,2028,1,0,0,0.000,1
96861,4808418-1901-FT1905-Sunday-82,01:16:00,01:16:00,2158,2,0,0,5.570,1
96862,4808418-1901-FT1905-Sunday-82,01:35:34,01:35:34,2647,3,0,0,17.117,0
96863,4808418-1901-FT1905-Sunday-82,01:36:00,01:36:00,2924,4,0,0,17.371,1
96864,4808418-1901-FT1905-Sunday-82,01:37:30,01:37:30,2925,5,0,0,17.989,0
96865,4808418-1901-FT1905-Sunday-82,01:53:00,01:53:00,1171,6,0,0,24.409,1
106507,4808650-1901-FT1905-Sunday-82,01:00:00,01:00:00,3623,1,0,0,0.000,1
106508,4808650-1901-FT1905-Sunday-82,01:02:12,01:02:12,47,2,0,0,0.335,0
106509,4808650-1901-FT1905-Sunday-82,01:03:17,01:03:17,3624,3,0,0,0.502,0
106510,4808650-1901-FT1905-Sunday-82,01:04:56,01:04:56,2106,4,0,0,0.752,0
106511,4808650-1901-FT1905-Sunday-82,01:06:35,01:06:35,2095,5,0,0,1.005,0
106512,4808650-1901-FT1905-Sunday-82,01:08:51,01:08:51,2094,6,0,0,1.352,0
106513,4808650-1901-FT1905-Sunday-82,01:12:35,01:12:35,3048,7,0,0,1.921,0
106514,4808650-1901-FT1905-Sunday-82,01:14:00,01:14:00,2474,8,0,0,2.137,1
106515,4808650-1901-FT1905-Sunday-82,01:17:24,01:17:24,549,9,0,0,2.490,0
106516,4808650-1901-FT1905-Sunday-82,01:20:00,01:20:00,2591,10,0,0,2.759,1
106517,4808650-1901-FT1905-Sunday-82,01:23:00,01:23:00,2593,11,0,0,4.376,1
106518,4808650-1901-FT1905-Sunday-82,01:26:00,01:26:00,896,12,0,0,6.949,1
106519,4808650-1901-FT1905-Sunday-82,01:36:00,01:36:00,1172,13,0,0,14.230,1
106520,4808650-1901-FT1905-Sunday-82,01:51:26,01:51:26,2665,14,0,0,20.582,0
106521,4808650-1901-FT1905-Sunday-82,01:53:00,01:53:00,2656,15,0,0,21.228,1
106522,4808650-1901-FT1905-Sunday-82,01:53:32,01:53:32,2646,16,0,0,21.544,0

# <span style="color:red">shapes.txt</span>

### Required Fields:
1. shape_id
2. shape_pnt_lat- at least five decimal places
3. shape_pnt_lon- at least five deciaml places

In [12]:
load('shapes')
# df.head(50)
df.describe()

# lessthan(100)


# df['shape_pt_sequence'] = df['shape_pt_sequence'].astype(np.int64)
# save(df,'shapesINT.txt')
# df1 = df[(df.shape_id=='J_trip_inbound_pm')]
# save(df1,'J_trip_inbound_pm.csv')

# flip the point sequence 
# df2 = df[(df.shape_id == 'J_trip_inbound_am')]
# drop = df2[::-1].drop(columns=['shape_pt_sequence'])
# drop.loc[:,'shape_pt_sequence'] = range(1, 1 + len(drop))
# # drop

# df3 = df[df.shape_id != 'J_trip_inbound_am']
# df4 = df3.append(drop)
# new = df4[(df4.shape_id == 'J_trip_inbound_am')]
# df4
# save(df4,'shapes_NEW.txt')
# dfJ = df[(df['shape_id'].str.contains('J'))]
# dfJ['shape_id'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76054 entries, 0 to 76053
Data columns (total 5 columns):
shape_id               76054 non-null int64
shape_pt_lat           76054 non-null float64
shape_pt_lon           76054 non-null float64
shape_pt_sequence      76054 non-null int64
shape_dist_traveled    76054 non-null float64
dtypes: float64(3), int64(2)
memory usage: 2.9 MB

,shape_id,shape_pt_lat,shape_pt_lon,shape_pt_sequence,shape_dist_traveled
count,7.605400e+04,76054.000000,76054.000000,76054.000000,76054.000000
mean,4.274056e+06,34.057977,-117.927061,171428.483551,10.501442
std,2.027416e+06,0.040381,0.130085,146777.324267,8.455084
min,1.780108e+06,33.914790,-118.268027,10001.000000,0.000000
25%,2.700074e+06,34.030039,-118.001340,50057.000000,4.019000
50%,4.820110e+06,34.062579,-117.929118,120589.000000,8.306500
75%,4.980118e+06,34.079085,-117.829664,250015.000000,14.885000
max,8.610010e+06,34.151759,-117.689463,710012.000000,41.585000

# <span style="color:red">calendar.txt</span>

### Required:
Run the calendar script if more than one service record is defined for the day of the week.
* If there is more than one service defined for the week, then run the calendar.py script.

In [14]:
load('calendar')
df.head(35)


#### seattle-sc 'like' function
# df_cal = df.loc[df['service_id'].isin(serviceList)]
# df_cal

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 10 columns):
service_id    8 non-null object
monday        8 non-null int64
tuesday       8 non-null int64
wednesday     8 non-null int64
thursday      8 non-null int64
friday        8 non-null int64
saturday      8 non-null int64
sunday        8 non-null int64
start_date    8 non-null int64
end_date      8 non-null int64
dtypes: int64(9), object(1)
memory usage: 720.0+ bytes

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,1901-FT1905-Sunday-82,0,0,0,0,0,0,1,20190616,20190922
1,1901-FT1905-Weekday-82,1,1,1,1,1,0,0,20190617,20190927
2,1901-FT1905-Saturday-82,0,0,0,0,0,1,0,20190622,20190928
3,1901-Pomona-Sunday-62,0,0,0,0,0,0,1,20190616,20190922
4,1901-Pomona-Weekday-62,1,1,1,1,1,0,0,20190617,20190927
5,1901-Pomona-Weekday-62-1111000,1,1,1,1,0,0,0,20190617,20190927
6,1901-Pomona-Weekday-62-0000100,0,0,0,0,1,0,0,20190617,20190927
7,1901-Pomona-Saturday-62,0,0,0,0,0,1,0,20190622,20190928

# <span style="color:red">calendar_dates.txt</span>

### Required:
This is an optional file, but is used to mark special holidays. Make sure the dates make sense.

In [16]:
load('calendar_dates')
df.head(50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
service_id        12 non-null object
date              12 non-null int64
exception_type    12 non-null int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

                        service_id      date  exception_type
0            1901-FT1905-Sunday-82  20190704               1
1            1901-FT1905-Sunday-82  20190902               1
2           1901-FT1905-Weekday-82  20190704               2
3           1901-FT1905-Weekday-82  20190902               2
4            1901-Pomona-Sunday-62  20190704               1
5            1901-Pomona-Sunday-62  20190902               1
6           1901-Pomona-Weekday-62  20190704               2
7   1901-Pomona-Weekday-62-1111000  20190704               2
8   1901-Pomona-Weekday-62-0000100  20190704               2
9           1901-Pomona-Weekday-62  20190902               2
10  1901-Pomona-Weekday-62-1111000  20190902               2
11  1901-Pomona-Weekday-62-0000100  20190902               2